<section class="text-block">
    <h3 class="text-block_title">Overview</h3>
    <p class="text-block_role">Role: Discovery, UX, UI Design</p>
    <p class="text-block_copy">Infor Ming.le Streams is an important core product for Infor that enables you to organize recurring processes with the ability to involve internal and external participants. As a designer on the Ming.le pod, my job was to design the native tablet experience for Streams for both iOS and Android. The tablet experience allows participants to organize processes on the go. Stream participants can collaborate seamlessly to complete activities, create new streams from templates, organize documents by threading them around each activity and quickly view the status of all tasks.</p>
</section>

<div class="image-block">
  <img src="/lib/img/streams/streams-main.png" alt="Tablet view">
  <figcaption class="caption"><em>Streams for Tablet</em></figcaption>
</div>

<section class="text-block">
    <h3 class="text-block_title">Challenge</h3>
    <p class="text-block_copy">The biggest challenge for designing the tablet version of Streams was not having a good user experience foundation to build from the desktop application. It was a bit outdated in its design and lacking in overall usability. The main points of frustration for our users was not being able to see all streams at once and quickly get the status of each stream. It was also difficult to sort through current streams based on the filter views being obscure icons.</p>

    <p class="text-block_copy">From our initial research with current Streams users, we knew we needed to simplify the streams creation process for the tablet experience and this meant cutting features while making sure users could still complete all core Streams tasks on the go.</p>
</section>

<section class="context-block">
  <div class="context-block_img">
    <img src="/lib/img/streams/streams-before.png" alt="Streams Desktop application view">
  </div>
  <div class="context-block_quote">
    <svg class="icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/lib/img/icons.svg#quote"></use>
    </svg>
    <p>We knew after reviewing the desktop application we needed to simplify the streams creation process for the tablet experience....while making sure users could still complete all core Streams tasks on the go.</p>
  </div>
</section>

<section class="text-block">
    <h3 class="text-block_title">Solution</h3>
    <p class="text-block_copy">The end result was a native tablet experience that streamlined the following processes: allowing the user to see an overview of all active streams, create a new stream from a premade templates, and limited customization options for editing the steps in each stream. I sketched the initial screens to define these user flows. Later, I created prototypes of these user flows to use for user testing and eventually the handoff to our developer team. I was able to quickly iterate the design of both Android and iOS versions of this application based on user feedback.</p>
</section>

<section class="image-block image-block--half">
  <div class="image-block--half_item">
    <img src="/lib/img/streams/streams-mockup1.png" alt="UI Sketches">
    <figcaption class="caption"><em>Early layout sketches</em></figcaption>
  </div>
  <div class="image-block--half_item">
    <img src="/lib/img/streams/streams-mockup2.png" alt="Stream Creation screen">
    <figcaption class="caption"><em>Stream Creation screen</em></figcaption>
  </div>
</section>

<section class="feature-block">
  <div class="feature-block_copy">
    <h3 class="feature-block_title">Optimize for touch</h3>
    <p>Draggable steps allow the user to quickly edit and reorder their steps. This was essential for the Stream creator to be able to do while on the go.</p>
  </div>
  <div class="feature-block_img">
    <img src="/lib/img/streams/streams-feature1.png" alt="Drag and Drop screen">
  </div>
</section>

<section class="feature-block feature-block--reversed">
  <div class="feature-block_copy">
    <h3 class="feature-block_title">Back to basics</h3>
    <p>Adding a progress bar to the dashboard page let users get a more thorough overview of each stream step which was added functionality.</p>
  </div>
  <div class="feature-block_img">
    <img src="/lib/img/streams/streams-feature4.png" alt="Progress bar for streams">
  </div>
</section>

<section class="feature-block">
  <div class="feature-block_copy">
    <h3 class="feature-block_title">Make it personal</h3>
    <p>The desktop design had no images or job titles for participants. I updated the design to include friendly faces as well as titles so you can see who you are working with.</p>
  </div>
  <div class="feature-block_img">
    <img src="/lib/img/streams/streams-feature3.png" alt="View of Participants">
  </div>
</section>

