<section class="text-block">
    <h3 class="text-block_title">Overview</h3>
    <p class="text-block_role">Role: Discovery, UX, UI Design</p>
    <p class="text-block_copy">Infor Ming.le Chat was a major project that I worked on this year. Our goal was to replace the current Ming.le collaboration platform with a more modern chat platform that would integrate with our ERPs. We designed a seamless chat tool that will allow users to share data, files, and conversation with their teammates while improving their day-to-day workflow.</p>
</section>

<div class="image-block">
  <img src="/lib/img/minglechat/minglechat-main.png" alt="Laptop and mobile view of Ming.le chat">
  <figcaption class="caption"><em>Ming.le Chat responsive application</em></figcaption>
</div>

<section class="text-block">
    <h3 class="text-block_title">Challenge</h3>
    <p class="text-block_copy">This project required some extensive user research. The current Ming.le collaboration wasn't being adopted by a lot of our users despite being a free feature of the Infor Cloudsuite. We conducted surveys and user interviews to gather information about the current Ming.le and validate our hypothesis that adding a chat feature would make this application more usable.</p>
</section>

<section class="text-block">
    <h3 class="text-block_title">Solution</h3>
    <p class="text-block_copy">The data we collected found that most users were paying for other third-party applications like Skype or Slack to communicate with their teams. We knew that by adding these capabilities to Infor's cloudsuite we could convert more users. The finished product was a chat application that include topic-based group coversation and a full team directory for 1-on-1 chats. The development of this appliation is still in process.</p>
</section>

<section class="image-block image-block--half">
  <div class="image-block--half_item">
    <img src="/lib/img/minglechat/minglechat-mockup1.png" alt="Ming.le Sketches">
    <figcaption class="caption"><em>An element of Ming.le fun</em></figcaption>
  </div>
  <div class="image-block--half_item">
    <img src="/lib/img/minglechat/minglechat-mockup2.png" alt="Laptop vie">
    <figcaption class="caption"><em>Ming.le Chat</em></figcaption>
  </div>
</section>

<section class="feature-block">
  <div class="feature-block_copy">
    <h3 class="feature-block_title">Blank state view</h3>
    <p>It's important to design for not only ideal states but Blank states as well. This was a view of the Blank state of the teammate panel when you haven't started a conversation yet.</p>
  </div>
  <div class="feature-block_img">
    <img src="/lib/img/minglechat/minglechat-feature1.png" alt="Blank state view">
  </div>
</section>

<section class="feature-block feature-block--reversed">
  <div class="feature-block_copy">
    <h3 class="feature-block_title">Chat on the go</h3>
    <p>The responsive version of this app was important so users could chat on the go. We are still working on the responsive components of our styleguide so this was one of the first responsive applications that we were able to test on users.</p>
  </div>
  <div class="feature-block_img">
    <img src="/lib/img/minglechat/minglechat-feature4.png" alt="Mobile responsive view">
  </div>
</section>

<section class="feature-block">
  <div class="feature-block_copy">
    <h3 class="feature-block_title">Updated Notifications menu</h3>
    <p>Before the notifications for Ming.le were all mixed on one screen. We separate the Ming.le chat notifications so they could stand on their own and users could access from anywhere in Infor.</p>
  </div>
  <div class="feature-block_img">
    <img src="/lib/img/minglechat/minglechat-feature3.png" alt="Ming.le chat notifications">
  </div>
</section>

<section class="feature-block feature-block--reversed">
  <div class="feature-block_copy">
    <h3 class="feature-block_title">Fun Reactions</h3>
    <p>Because of some restrictions of certain industries, we had to work around full emoji support. Instead we offered standard reactions that users could choose to use to react to messages.</p>
  </div>
  <div class="feature-block_img">
    <img src="/lib/img/minglechat/minglechat-feature2.png" alt="Ming.le Chat reactions">
  </div>
</section>
