<section class="text-block">
    <h3 class="text-block_title">Overview</h3>
    <p class="text-block_role">Role: Discovery, UX, UI Design</p>
    <p class="text-block_copy">Infor Ming.le is the centralized space for collaboration, business process improvement, and contextual analytics. Fully embedded within ERP, financials, and other organizational systems, this platform enables single-sign on for all Infor CloudSuite™ solutions. My task was to create a responsive web experience for the Ming.le shell that encompasses the entire Infor experience. This include the app switcher, share functionality, search and user settings and bookmarks.</p>
</section>

<div class="image-block">
  <img src="/lib/img/respnav/respnav-main.png" alt="Responsive view">
  <figcaption class="caption"><em>Mobile view of responsive nave</em></figcaption>
</div>

<section class="text-block">
    <h3 class="text-block_title">Challenge</h3>
    <p class="text-block_copy">My challenge was to create a seamless experience for our users across all devices. All of our products are already responsive or in the process of being designed for responsive, so the wrapper that holds them all needed to match. Things I focused on were designing for scale - whether a user had 100 applications or only 1 and optimize core functinalitlies for touch on smaller devices.</p>
</section>

<section class="context-block">
  <div class="context-block_img">
    <img src="/lib/img/respnav/respnav-before.png" alt="Mockups">
  </div>
  <div class="context-block_quote">
    <svg class="icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/lib/img/icons.svg#quote"></use>
    </svg>
    <p>The responsive navigation went through many drafts and prototypes before landing on ideal navigation</p>
  </div>
</section>

<section class="text-block">
    <h3 class="text-block_title">Solution</h3>
    <p class="text-block_copy">I started this design process by working with our Information Architect to define the most important functions of the shell. His reserach determined the placement of each feature in the responsive navigaiton. We moved the app switcher, user settings and bookmarks to the main mobile nav with a bento box button and kept the search and share funtionality in the top header for instant access.</p>

    <p class="text-block_copy">While designing the main mobile and tablet navigation, I was inspired by the Curtain navigation I had read about from <a href="https://medium.com/@supjoey/the-curtain-menu-redesigning-drop-down-navigation-for-mobile-bd63b555a3df#.kcki5bgyu" target="_blank">Playstation.com</a>. We needed to fit a lot of information into a small menu and the traditional accordian menu wasn't going to work. I wanted users to be able to scroll through a potential long list of applications while still be able to access other menu options. After some internal user testing around the office, this curtain model ended up being the perfect solution.</p>
</section>

<section class="image-block image-block--half">
  <div class="image-block--half_item">
    <img src="/lib/img/respnav/respnav-mockup1.png" alt="Early layout sketches">
    <figcaption class="caption"><em>Early layout sketches</em></figcaption>
  </div>
  <div class="image-block--half_item">
    <img src="/lib/img/respnav/respnav-mockup2.png" alt="Share modal">
    <figcaption class="caption"><em>Responsive Share modal</em></figcaption>
  </div>
</section>

<section class="feature-block">
  <div class="feature-block_copy">
    <h3 class="feature-block_title">Create a familiar mobile experience</h3>
    <p>Even though this wasn't a native app we wanted to give the users a familiar experience. This slide up menu for connecting users is just one example.</p>
  </div>
  <div class="feature-block_img">
    <img src="/lib/img/respnav/respnav-feature1.png" alt="Slide up menu">
  </div>
</section>

<section class="feature-block feature-block--reversed">
  <div class="feature-block_copy">
    <h3 class="feature-block_title">Full screen search</h3>
    <p>The full screen search and share mimic the destop modals but create a seamless experience.</p>
  </div>
  <div class="feature-block_img">
    <img src="/lib/img/respnav/respnav-feature2.png" alt="Search screen for mobile">
  </div>
</section>

<section class="feature-block">
  <div class="feature-block_copy">
    <h3 class="feature-block_title">Curtain menu</h3>
    <p>This curtain menu was ideal for our use-case. One primary set of links, each containing a group of secondary links. Both levels of links are displayed at the same time.</p>
  </div>
  <div class="feature-block_img">
    <img src="/lib/img/respnav/respnav-feature3.png" alt="Curtain menu">
  </div>
</section>

