<section class="projectnav">
    <a href="/" class="projectnav_all">
        <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/lib/img/icons.svg#allwork"></use>
        </svg>
        <h5>All Work</h5>
    </a>
    <a href="/<%= projNext %>" class="projectnav_next">
        <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/lib/img/icons.svg#nextproj"></use>
        </svg>
        <h5>Next Project</h5>
    </a>
</section>