<main>
  <section class="work-grid">

    <figure class="work-grid_item">
        <img class="work-grid_img" src="/lib/img/workgrid/minglechat.png" alt="">
        <figcaption class="work-grid_caption">
            <div class="work-grid_caption_wrap">
                <h2>Ming.le Chat</h2>
                <p>Responsive desktop application design</p>
            </div>
        </figcaption>
        <a class="work-grid_link" href="projects/minglechat"></a>
    </figure>

    <figure class="work-grid_item">
        <img class="work-grid_img" src="/lib/img/workgrid/streams.png" alt="">
        <figcaption class="work-grid_caption">
            <div class="work-grid_caption_wrap">
                <h2>Streams for Tablet iOS and Android</h2>
                <p>Native tablet design</p>
            </div>
        </figcaption>
        <a class="work-grid_link" href="projects/streams"></a>
    </figure>

    <div class="work_quote">
        <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/lib/img/icons.svg#quote"></use>
        </svg>
        <div>Design is so simple. That’s why it’s so complicated.</div>
        <div><small>&#8212; Paul Rand</small></div>
    </div>
    
    <figure class="work-grid_item">
        <img class="work-grid_img" src="/lib/img/workgrid/hookandloop.png" alt="">
        <figcaption class="work-grid_caption">
            <div class="work-grid_caption_wrap">
                <h2>Hook & Loop Website Redesign</h2>
                <p>Responsive landing page design</p>
            </div>
        </figcaption>
        <a class="work-grid_link" href="projects/hookandloop"></a>
    </figure>

    <figure class="work-grid_item">
        <img class="work-grid_img" src="/lib/img/workgrid/responsivenav.png" alt="">
        <figcaption class="work-grid_caption">
            <div class="work-grid_caption_wrap">
                <h2>Infor Responsive Navigation</h2>
                <p>Responsive design for desktop application</p>
            </div>
        </figcaption>
        <a class="work-grid_link" href="projects/responsivenav"></a>
    </figure>

    <div class="work_quote">
        <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/lib/img/icons.svg#quote"></use>
        </svg>
        <div>If the user can’t use it, it doesn’t work.</div>
        <div><small>&#8212; Susan Dray</small></div>
    </div>

    <figure class="work-grid_item">
        <img class="work-grid_img" src="/lib/img/workgrid/campaign.png" alt="">
        <figcaption class="work-grid_caption">
            <div class="work-grid_caption_wrap">
                <h2>AWeber Campaigns</h2>
                <p>Product design & development for desktop application</p>
            </div>
        </figcaption>
        <a class="work-grid_link" href="projects/campaigns"></a>
    </figure>
    
    <figure class="work-grid_item">
        <img class="work-grid_img" src="/lib/img/workgrid/bike2go.png" alt="">
        <figcaption class="work-grid_caption">
            <div class="work-grid_caption_wrap">
                <h2>bike2go</h2>
                <p>Hackathon native iOS application</p>
            </div>
        </figcaption>
        <a class="work-grid_link" href="projects/bike2go"></a>
    </figure>

    
    <figure class="work-grid_item">
        <img class="work-grid_img" src="/lib/img/workgrid/cprefresh.png" alt="">
        <figcaption class="work-grid_caption">
            <div class="work-grid_caption_wrap">
                <h2>Control Panel Refresh</h2>
                <p>Desktop application responsive redesign</p>
            </div>
        </figcaption>
        <a class="work-grid_link" href="projects/cprefresh"></a>
    </figure>

    
    <figure class="work-grid_item">
        <img class="work-grid_img" src="/lib/img/workgrid/vendor.png" alt="">
        <figcaption class="work-grid_caption">
            <div class="work-grid_caption_wrap">
                <h2>Vendor Senders</h2>
                <p>UI Design for desktop application</p>
            </div>
        </figcaption>
        <a class="work-grid_link" href="projects/vendorsenders"></a>
    </figure>
    
    <div class="work_quote">
        <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/lib/img/icons.svg#quote"></use>
        </svg>
        <div>Ease of use may be invisible, but its absence sure isn’t.</div>
        <div><small>&#8212; IBM</small></div>
    </div>

    <figure class="work-grid_item">
        <img class="work-grid_img" src="/lib/img/workgrid/kegg.png" alt="">
        <figcaption class="work-grid_caption">
            <div class="work-grid_caption_wrap">
                <h2>kegg</h2>
                <p>UI design for native iOS application</p>
            </div>
        </figcaption>
        <a class="work-grid_link" href="projects/kegg"></a>
    </figure>
  </section>
</main>
