<div class="centered-block">
    <h1 class="centered-block_title">Hello!👋🏼</h1>
    <p class="centered-block_item">Pleased to meet you! My name is Sam and I am an experienced full-stack designer with a passion for user experience. Great design is much more than a beautiful interface. It’s about crafting creative solutions through thoughtful user-centered design. Some of my notable design accomplishments include full website redesigns, many product feature releases, and responsive & native mobile app design.</p>

    <p class="centered-block_item">I’ve had the privilege for the last four years to be involved with <a href="www.girldevelopit.com">Girl Develop It</a>, both in Philadelphia and New York as a student, TA, teacher and currently, a Chapter Leader for the NYC chapter. GDI is a national non-profit organization that provides career direction and classes to empower women across design and development disciplines. Seeing the growth of the organization and how many people we’ve helped along the way has been one of the proudest and most rewarding experiences in my professional life.</p>

    <p class="centered-block_item">Oh, and I like to do some other things too:</p>

    <div class="column-block">
        <div class="col-3">
            <svg class="icon icon--skills">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/lib/img/icons.svg#teach-icon"></use>
            </svg>
            <h3>Teach</h3>
            <ul>
                <li><a href="https://www.meetup.com/girldevelopit/events/230056063/">Flexbox Workshop</a> <small>- June 2016</small></li>
                <li><a href="https://www.meetup.com/girldevelopit/events/229058852/">Flexbox Workshop</a> <small>- March 2016</small></li>
            </ul>
        </div>
        <div class="col-3">
            <svg class="icon icon--skills">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/lib/img/icons.svg#speak-icon"></use>
            </svg>
            <h3>Speak</h3>
            <ul>
                <li><a href="https://creativetechweek2016.sched.org/event/6I0t/coed-code-teaching-tech-for-inclusive-community">Coed Code: Panelist</a> <small>- May 2016</small></li>
                <li><a href="http://www.iidcon.com/">IIDCon Conference</a> <small>- Oct. 2015</small></li>
                <li><a href="https://www.meetup.com/BucksCounty-WIT/events/225123711/">Bucks County Women in Tech</a> <small>- Sept. 2015</small></li>
                <li><a href="https://www.meetup.com/Girl-Develop-It-Philadelphia/events/221777432/">GDI Careers Panel</a> <small>- May 2015</small></li>
             </ul>
        </div>
        <div class="col-3">
            <svg class="icon icon--skills">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/lib/img/icons.svg#write-icon"></use>
            </svg>
            <h3>Write</h3>
            <ul>
                <li><a href="https://medium.com/@samserif/flexbox-s-best-kept-secret-bd3d892826b6#.qgty5p1hs">Flexbox's Best Kept Secret</a></li>
                <li><a href="https://medium.com/@samserif/redesigning-the-design-interview-33a1c2b82784#.8pfvltqsz">Redesigning the Design Interview</a></li>

            </ul>

        </div>
    </div>
</div>



