<section class="text-block">
    <h3 class="text-block_title">Overview</h3>
    <p class="text-block_role">Role: Discovery, Branding, UI Design, Web Design</p>
    <p class="text-block_copy">I entered <a href="http://phillycodefest.com/" target="_blank">Philly Codefest</a> as the sole designer on a team of four. We had 36 hours to create something innovative. During that time, we were to design, prototype, and produce as much as we could. I came up with the idea to create a mobile app around the soon-to-be launched Indego bike-share program in Philly. We wanted to create an app for Philadelphia residents and vistors that would provide them with more than just directions to bike docks and available bikes. We wanted to make Indego not only functional, but fun.</p>
</section>

<div class="image-block">
  <img src="/lib/img/bike2go/appscreens.png" alt="multiple app screens">
  <figcaption class="caption"><em>Screenshots from our presentation</em></figcaption>
</div>

<section class="text-block">
  <h3 class="text-block_title">Challenge</h3>
  <p class="text-block_copy">Time was our biggest obstacle to overcome. This was the very first hackathon for everyone on our team so we had to come up with ideas quickly and implement them on the spot. It forced me, as the sole designer, to skip the high fidelty and sketch out as many screens as I could so the developers could start building it out.</p>
</section>

<div class="image-block">
  <img src="/lib/img/bike2go/mapview.png" alt="map view">
    <figcaption class="caption"><em>Map view of bike2go</em></figcaption>
</div>

<section class="text-block">
  <h3 class="text-block_title">Solution</h3>
  <p class="text-block_copy">The result was bike2go. Our team delivered a highly functional prototype built in native iOS code with a fully functional Node API in less than 2 days. Our app not only allowed users to find bikes and available racks, it tracked ride length, duration, calories, and tons of other statistics. We used this information to provide badges and leaderboards for both friend groups and the city at large.  I worked closely with our developers to provide all UI design, branding, and presentation materials including a landing page. Our team won Overall Best Project and The Dean's Award for Innovation, the two top cash prizes in the hackathon. The application is now available in the <a href="https://itunes.apple.com/us/app/bike2go-find-bike-for-indego/id980439330?ls=1&mt=8" target="_blank">App Store</a> for download.</p>
</section>

<section class="context-block">
  <div class="context-block_img">
    <img class="text-block_img" src="/lib/img/bike2go/2015winners.jpg" alt="picture with big check">
  </div>
  <div class="context-block_quote">
    <svg class="icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/lib/img/icons.svg#quote"></use>
    </svg>
    <p>Go big or go home! Our team won Overall Best Project and The Dean's Award for Innovation, the two top cash prizes in the hackathon.</p>
  </div>
</section>
