<section class="text-block">
    <h3 class="text-block_title">Overview</h3>
    <p class="text-block_role">Role: UX, UI Design, HTML/CSS</p>
    <p class="text-block_copy">With all of the statistics, devices, and apps available today, it's becoming harder to be noticed in the inbox. While working as a Lead UI Designer at AWeber, we realized our customers needed a way to make automated email campaigns that could be triggered based on subscribers engagement with their messages. Time is a precious thing and our customers want to be spending it developing business, not micromanaging email.</p>
</section>

<div class="image-block">
  <img src="/lib/img/campaign/campaign.png" alt="blank slate view of campaigns">
  <figcaption class="caption"><em>Blank slate view of the campaign editor</em></figcaption>
</div>

<section class="text-block">
    <h3 class="text-block_title">Challenge</h3>
    <p class="text-block_copy">While designing for this new feature in our application, it was important to work with our developers to understand technical capabilities. Our application was 16 years old and carried a lot of technical baggage. We had to redesign not only the UI but a majority of the backend functionality as well.</p>
     
    <p class="text-block_copy">From a UX standpoint, we also needed to consider how this would affect our users' workflow. We were introducing an entirely new user flow so one of our main focus while creating this new feature is how to education and re-teach our users.</p> 
</section>

<section class="image-block image-block--half">
  <div class="image-block--half_item">
    <img src="/lib/img/campaign/ui.png" alt="list view of campaigns">
    <figcaption class="caption"><em>Drag and drop interface</em></figcaption>
  </div>
  <div class="image-block--half_item">
    <img src="/lib/img/campaign/settings.png" alt="settings panels">
    <figcaption class="caption"><em>Settings panel UI</em></figcaption>
  </div>
</section>

<section class="text-block">
  <h3 class="text-block_title">Solution</h3>
  <p class="text-block_copy">I started by conducting many user interviews with our lead UX expert. Together we documented our current customer's userflow and worked out how our changes would impact this flow. We also looked at online articles and forumns written by current and ex-customers. It was eye-opening to see the workarounds our users had created and shared to solve the problems that Campaigns would ultimately fix.</p>

  <p class="text-block_copy">The end result was <a href="http://www.aweber.com/campaigns.htm" target="_blank">Campaigns</a>, an automated email platform with a sleek new drag and drop editor, to a help customers easily create manage multiple email campaigns from one interface. With Campaigns, our users are able to create automated email conversations with the context needed to cut through the clutter. I led the design process from workflow and wireframes to production implementation. Read more about the feature announcement <a href="https://blog.aweber.com/new-features/introducing-campaigns-your-new-email-automation-platform.htm" target="blank">here</a>.</p>
</section>
