<section class="text-block">
    <h3 class="text-block_title">Overview</h3>
    <p class="text-block_role">Role: Discovery, UI Design, HTML/CSS</p>
    <p class="text-block_copy">During our recent refresh of the AWeber brand, I identified an opportunity to update the control panel. After fleshing out the opportunity to the design team, I was given the green-light to lead the redesign and we produced a control panel experience that was on-brand, intuitive, and highly functional.</p>
</section>

<div class="image-block">
  <img src="/lib/img/refresh/home.png" alt="action elements">
  <figcaption class="caption"><em>Dashboard panel redesign</em></figcaption>
</div>

<section class="text-block">
  <h3 class="text-block_title">Challenge</h3>
  <p class="text-block_copy">Our design team didn't have a current style guide so we had to start from scratch. Working with another designer, we spent the first few weeks mapping out our entire control panel experience. We identified the components and shared elements in each area and started defining patterns. My main goal from the redesign was to not only define a basic style guide we could work with but to also create a responsive experience starting mobile-first, which was a major overhaul for our current application.</p>
</section>

<section class="text-block">
  <h3 class="text-block_title">Solution</h3>
  <p class="text-block_copy">In a little under 2 months, we were able to update and define all of the UI elements including fonts, component designs, and colors. In addition to the design and code, we delivered a UI kit which formed the basis for the global AWeber style guide</p>
</section>

<section class="image-block">
  <img src="/lib/img/refresh/uielements.png" alt="settings panels">
  <figcaption class="caption"><em>Sample from UI kit</em></figcaption>
</section>
