<section class="text-block">
    <h3 class="text-block_title">Overview</h3>
    <p class="text-block_role">Role: UX, Web Design</p>
    <p class="text-block_copy">The brand team at Hook and Loop set out with a very lofty goal to complete a website redesign and rebranding in under 2 months time. They wanted to reveal the new site at Inforum, our annual customer conference. In order to complete this in time, the project was divided by page and split among the product designers. The team was made up of five designers, one Information Architect and one Art Director.</p>
</section>

<div class="image-block">
  <img src="/lib/img/hookandloop/h&l-main.png" alt="homepage">
  <figcaption class="caption"><em>Homepage redesign</em></figcaption>
</div>

<section class="text-block">
    <h3 class="text-block_title">Challenge</h3>
    <p class="text-block_copy">Time was obviously the biggest challenge we faced with this project. We had to streamline processes that might take weeks into a single day. The designers created options in the morning and we reviewed in the afternoon. It was very fast-paced design decisions. I was chosen to focus on the homepage redesign which was dependent on the final designs of the other pages (blog, case studies, etc.).</p>
</section>

<section class="image-block image-block--half">
  <div class="image-block--half_item">
    <img src="/lib/img/hookandloop/h&l-mockup1.png" alt="UI Sketches">
    <figcaption class="caption"><em>Early layout sketches</em></figcaption>
  </div>
  <div class="image-block--half_item">
    <img src="/lib/img/hookandloop/h&L-mockup2.png" alt="Stream Creation screen">
    <figcaption class="caption"><em>Stream Creation screen</em></figcaption>
  </div>
</section>

<section class="text-block">
    <h3 class="text-block_title">Solution</h3>
    <p class="text-block_copy">We learned a lot in the short time we spent working together. Most importantly, we learned what didn't work. Although the team came together to streamline our work process and deliver a complete redesign in under a month, the time left for development wasn't enough and we missed our launch goal. We also realized that dividing out the pages, while in theory seemed like a quicker way to work, ultimately took longer because we weren't looking at the site as a whole.</p>
</section>
