<section class="text-block">
    <h3 class="text-block_title">Overview</h3>
    <p class="text-block_role">Role: Discovery, Branding, UX, UI Design</p>
    <p class="text-block_copy">Having free time and nothing to fill it with can be all too familiar for college studens, which was a frustration that our client wished to address.  They had the idea and technology for an application which would provide a private social network where college students could stay in the know about everything going on on campus. I provided branding and worked closely with the client to bring the product from a barebones prototype iOS app to a usable and well designed platform for social discovery. The application is now available in the <a href="https://itunes.apple.com/us/app/kegg-find-college-parties/id884578717?mt=8" target="_blank">App Store</a> for download.</p>
</section>

<section class="image-block image-block--half">
  <div class="image-block--half_item">
    <img src="/lib/img/kegg/login.png" alt="log in screen">
    <figcaption class="caption"><em>Sign in screen of Kegg</em></figcaption>
  </div>
  <div class="image-block--half_item">
    <img src="/lib/img/kegg/appscreen.png" alt="multiple app screens">
  <figcaption class="caption"><em>Various screens of Kegg</em></figcaption>
  </div>
</section>

<div class="image-block">
  <img src="/lib/img/kegg/logosheet.png" alt="logosheet">
  <figcaption class="caption"><em>Logo sheet from branding process</em></figcaption>
</div>
