<footer>
  <h3 class="footer_copy">Let's work together :)</h3>

  <div class="icon-wrapper">
    <a href="mailto:sam@samserif.co?subject=Lets%20work%20together!">
      <svg class="icon icon--social">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/lib/img/icons.svg#mail"></use>
      </svg>
    </a>
    <a href="https://dribbble.com/samserif" target="_blank">
      <svg class="icon icon--social">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/lib/img/icons.svg#dribble"></use>
      </svg>
    </a>
    <a href="https://twitter.com/samserif" target="_blank">
      <svg class="icon icon--social">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/lib/img/icons.svg#twitter"></use>
      </svg>
    </a>
    <a href="https://www.linkedin.com/in/sprovenza" target="_blank">
      <svg class="icon icon--social">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/lib/img/icons.svg#linkedin"></use>
      </svg>
    </a>
  </div>

  <p class="copyright">Copyright &copy; <script>document.write((new Date()).getFullYear());</script>. All Rights Reserved.</p>
</footer>