<header>
  <a href="/">
    <svg class="icon icon--logo">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/lib/img/icons.svg#logo"></use>
    </svg>
  </a>

  <nav class="main-nav">
    <a href="/">work</a>
    <a href="/about">about me</a>
    <a href="/blog">blog</a>
  </nav>

</header>